
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  overflow-x: hidden;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 7rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4.5rem;
  color: #cc51ff;
}

@media (max-width: 768px) {
  h2 {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  h3 {
    font-size: 3rem;
  }
}

h4 {
  font-size: 2rem;
}

p, span {
  font-size: 1.8rem;
}

.home-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: 3px solid green; */
}