
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

*, *:before, *:after {
  overflow-x: hidden;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 7rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4.5rem;
  color: #0073ff;
}

@media (max-width: 768px) {
  h2 {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  h3 {
    font-size: 3rem;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}


.btn {
  border-radius: .5rem;
  border: none;
  background-color: #0073ff;
  height: 4rem;
  color: #f5f5f5;
  letter-spacing: .2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 12px -1px #000000;
}